// fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
$mainFont:"Nunito Sans", sans-serif;
$secondaryFont:"Roboto", sans-serif;
// body
body{
    color: black;
}
// headings
h1,
h2,
h3{
    font-family: $mainFont;
    color: black;
}
// text
p{
    font-family: $secondaryFont;
}
.text-dark{
    color: black;
}
.text-key{
    color: #f70180;
}
// header
.header{
    min-height: 400px;
    @media (width <= 768px){
        min-height:200px;
    }
}
// bgs
.bg-one{
    background: url(../../img/bg-madero.png) no-repeat top center;
    background-size: cover;
    background-position: center;
}
.bg-two{
    background: url(../../img/bg-madero-2.png) no-repeat top center;
    background-size: cover;
}
.bg-three{
    background: url(../../img/bg-madero-3.png) no-repeat top center;
    background-size: cover;
}
.bg-four{
    background: url(../../img/bg-urbana.png) no-repeat top center;
    background-size: cover;
}
.bg-five{
    background: url(../../img/bg-ruta.png);
    background-size: cover;
}
.bg-six{
    background: url(../../img/bg-todo-terreno.png);
    background-size: cover;
}
.bg-seven{
    background: url(../../img/bg-indumentaria.png);
    background-size: cover;
}
.bg-eight{
    background: url(../../img/bg-primera-forever.png);
    background-size: cover;
}
.bg-nine{
    background: url(../../img/bg-accesorios.png);
    background-size: cover;
}
.bg-ten{
    background: url(../../img/bg-herramientas.png);
    background-size: cover;
}
.bg-eleven{
    background: url(../../img/bg-bolsos.png);
    background-size: cover;
}
.bg-twelve{
    background: url(../../img/bg-casco.png);
    background-size: cover;
}
.bg-thirteen{
    background: url(../../img/bg-ciclocomputador.png);
    background-size: cover;
}
.bg-fourteen{
    background: url(../../img/bg-infladores.png);
    background-size: cover;
}
.bg-fifteen{
    background: url(../../img/bg-lingas.png);
    background-size: cover;
}
.bg-sixteen{
    background: url(../../img/bg-luces.png);
    background-size: cover;
}
.bg-seventeen{
    background: url(../../img/bg-cintas.png);
    background-size: cover;
}
.bg-eighteen{
    background: url(../../img/bg-otros.png);
    background-size: cover;
}
.bg-nineteen{
    background: url(../../img/bg-componentes.png);
    background-size: cover;
}
.bg-twenty{
    background: url(../../img/bg-asientos.png);
    background-size: cover;
}
.bg-twenty-one{
    background: url(../../img/bg-cuadros.png);
    background-size: cover;
}
.bg-twenty-two{
    background: url(../../img/bg-frenos.png);
    background-size: cover;
}
.bg-twenty-three{
    background: url(../../img/bg-manubrios.png);
    background-size: cover;
}
.bg-twenty-four{
    background: url(../../img/bg-ruedas.png);
    background-size: cover;
}
.bg-twenty-five{
    background: url(../../img/bg-stems.png);
    background-size: cover;
}
.bg-twenty-six{
    background: url(../../img/bg-transmicion.png);
    background-size: cover;
}
.bg-twenty-seven{
    background: url(../../img/bg-gracias.png);
    background-size: cover;
}

// btns
.btn-dark{
    background-color: black;
}
.btn-light{
    background-color: white;
}