// fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
$mainFont:"Nunito Sans", sans-serif;
$secondaryFont:"Roboto", sans-serif;
// body
body{
    color: black;
}
// headings
h1,
h2,
h3{
    font-family: $mainFont;
    color: black;
}
// text
p{
    font-family: $secondaryFont;
}
.text-dark{
    color: black;
}
.text-key{
    color: #f70180;
}
// header
.header{
    min-height: 400px;
}
// bgs
.bg-one{
    background: url(../../img/bg-madero.png) no-repeat top center;
    background-size: cover;
    background-position: center;
}
.bg-two{
    background: url(../../img/bg-madero-2.png) no-repeat top center;
    background-size: cover;
}
.bg-three{
    background: url(../../img/bg-madero-3.png) no-repeat top center;
    background-size: cover;
}
.bg-four{
    background: url(../../img/bg-urbana.png) no-repeat top center;
    background-size: cover;
}
// btns
.btn-dark{
    background-color: black;
}
.btn-light{
    background-color: white;
}