footer{
    ul{
        padding-left: .5em;
        li{
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
    .payments{
        img{
            width: 150px;
        }
    }
}

.wame{
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 90px;
    -webkit-animation: action 1s infinite alternate;
    animation:action 1s infinite alternate;
}