footer{
    ul{
        padding-left: .5em;
        li{
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
    .payments{
        img{
            width: 150px;
        }
    }
}