.navbar{
    .container{
        padding-left: 0;
        padding-right: 0;
    }
    .nav-item{
        .nav-link{
            font-size: .8em;
            font-weight: 500;
            background-image: linear-gradient(currentColor, currentColor);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: background-size 0.3s;
            &:hover{
                background-size: 100% 2px;
            }
        }
    }
    
}

// mega menu
.dropdown-menu{
    .container{
        ul.list-unstyled{
            li{
                --bs-dropdown-item-padding-x: 0;
            }
        }
    }
}

@media (min-width: 992px) {
    .navbar .dropdown:hover .dropdown-menu {
      display: block !important;
    }
  
    .dropdown-menu {
      display: none;
      margin-top: 0;
      border: none;
      background-color: white;
      width: 100vw;
      left: 0;
      right: 0;
    }
  
    .dropdown:hover > .dropdown-menu {
      display: block !important;
    }
  
    .dropdown-menu:hover {
      display: block !important;
    }
  
    .dropdown-toggle::after {
      display: none;
    }
  }
  