// nav
@media (width <=575px){
    .container,
    .navbar .container{
        padding-left: 30px;
        padding-right: 30px;
    }
    .header{
        padding-left: 0;
        padding-right: 0;
    }
}